/*
KISSY CSS Reset
Date:2016-05-08;
author:lee;
*/
*{
  margin:0;
  padding: 0;
  border: 0;
  font-size: 100%;
}
ul,ol,li{
    list-style: none;
}
a{

    text-decoration: none;
}
img{
   border: none;
}
/*清楚浮动*/
.clearfloat{
zoom:1;        /*applyto IE*/  
}
.clearfloat:after{
    display:block;
    clear:both;
    content:"";
    visibility: "hidden";
    height:0; 
}